/*New User Code Start*/

html{
    height: 100%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
    height: 100%;
    margin: auto;  
}

.header{
    display: flex;
    color: #ffffff;
    background-color: #000000;
    grid-column: 1 / 3;
    align-items: center;
    
}

.header h1{
    margin-left: 20px;
    font-size: 14px;
}

.header i{
    margin-left: 20px;
    font-size: x-large;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    grid-row: 2;
    padding: 20px;
}

.sidebar div{
    margin-top: 20px;
    margin-left: 15px;
}

.sidebar a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.body form{
     margin: 20px;
}

.body h2{
    margin-left: 20px;
    font-size: 30px;
}

.body input{
    background-color: #ededed;
    border: 1;
    border-radius: 5px;
    border-width: thin;
    margin-top: 10px;
    width: 300px;
    height: 25px;
}

form label{
    font-weight: bold;
    padding-bottom: 10px;
}

#searchbtn{
    border: none;
    border-radius: 5px;
    background-color: #0c71e0;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
}

/*New User Code End*/


/*Create Issue Code Start*/
#description{
    background-color: #ededed;
    border: 1;
    border-radius: 5px;
    border-width: thin;
    margin-top: 10px;
    width: 300px;
    height: 100px;
}

select{
    background-color: #ededed;
    border: 1;
    border-radius: 5px;
    border-width: thin;
    margin-top: 10px;
    width: 308px;
    height: 30px;
    font-weight: bold;
    padding-left: 10px;
}

/*Create Issue Code End*/
#issue{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 40px;  
}

#allissue{
    background-color: blue; /* Blue */
    border: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    cursor: pointer;    
}

#openissue{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
#ticket{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
}

.filterbtns {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}

/*Detailed Issue Code Start*/
#issue{
    margin-left: 20px;
    font-size: 13px;
}

#para{
    margin-top: 20px;
    margin-left: 20px;
    max-width: 800px;
    text-align: justify;
}

#asidemain{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    max-width: 200px;
    float: right;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    bottom: 105px;
}

#aside{    
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    background-color: #d3d3d3;   
}

#markclosed{
    border: none;
    border-radius: 5px;
    background-color: #0c71e0;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;

}

#markinprog{
    border: none;
    border-radius: 5px;
    background-color: #4c9a2a;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;


}
/*Detailed Issue Code End*/
